<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body class="bghome">

  <div class="welcome">
    <h1 class="center">Welcome to <%= title %></h1>

    <% include ./partials/header %>
    
    <ul class="nav navbar-nav">
       <li><a href="./photos">Photos</a></li>
       <li><a href="/upload">Upload</a></li>
   </ul>
  </div>
 

    <% include ./partials/footer %>
