<% include ./partials/header %>


<ul class="mynav">
<li><a href="/">Home</a></li>
<li><a href="/upload">Upload</a></li>
</ul>
<hr>

<div id="photos">
    <div class="row">
        <% photos.forEach(function(photo){ %>
        <div class="col-md-4 col-sm-6">

                <div>
                    <a href='/photo/<%=photo.id%>/download'>
                        <img src="/images/<%= photo.path %>" class="photo">
                    </a>
                </div>
        </div> 
        <% }) %>
    </div>

</div> 

