

<form method="post" enctype="multipart/form-data" action="/upload">

<div>
user Name<input type="text">
</div>
<div>
Img:<input type="text">
</div>
<div>
<input type="submit" value=" send">
<input type="file" name="photo">
</div>
</form>

